@use 'spacing' as *;

$button-height: 24px;

$border-radius-8: 8px;
$control-height: $spacer-4 * 2 + $spacer-1;
$control-border-radius: $spacer-2;
$overlay-z-index: 100;
$panel-shadow: 0 $spacer-3 $spacer-4 * 2 rgb(15 23 42 / 18%);
